@import "fonts";

#main{
    background-color: $secondary;
}

// Hide links starting with edx.* or openedx.*
a[href^="https://edx."],
a[href^="https://openedx."] {
    display: none;
}


.help-sidebar {
    display: none !important;
}

.content-supplementary {
    display: none !important;
}

.wrapper-sock .list-cta {
    display: none !important;
}